<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Filters</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="filters-content">
  <ion-item-group class="filters-group">
    <ng-container *ngFor="let question of questions">
    <ion-item-divider >
      <ion-label > 
          {{ question.data().Question }}    
      </ion-label>
    </ion-item-divider>
    <form [formGroup]="radioTagsForm">
      <ion-radio-group formControlName="selected_option">
        <ion-row class="radio-tags">
          <ion-item class="radio-tag" lines="none">
            <ion-label class="tag-label">
              <span>No way</span>
            </ion-label>
            <ion-radio value="any"></ion-radio>
          </ion-item>
          <ion-item class="radio-tag" lines="none">
            <ion-label class="tag-label">
              <span>No</span>
            </ion-label>
            <ion-radio value="1"></ion-radio>
          </ion-item>
          <ion-item class="radio-tag" lines="none">
            <ion-label class="tag-label">
                <span>Yes</span>
              </ion-label>
            <ion-radio value="2" ></ion-radio>
          </ion-item>
          <ion-item class="radio-tag" lines="none">
            <ion-label class="tag-label">
              <span>Definitely</span>
            </ion-label>
            <ion-radio value="3"></ion-radio>
          </ion-item>
        </ion-row>
      </ion-radio-group>
    </form>
  </ng-container>
  </ion-item-group>
</ion-content>
