<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Surveys</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="filters-content">
  <ion-item-group class="filters-group">
    <ng-container *ngFor="let question of questions">
    <form [formGroup]="radioTagsForm" *ngIf="question.type == 'multiple'">
        <ion-item-divider>
          <ion-label >
              {{ question.question }}
          </ion-label>
        </ion-item-divider>
      <ion-radio-group formControlName="selected_option" [(ngModel)]="responses[question.id]">
        <ion-row class="radio-tags">
          <ion-item class="radio-tag" lines="none"  >
            <ion-label class="tag-label">
              <span>No way</span>
            </ion-label>
            <ion-radio value="1"></ion-radio>
          </ion-item>
          <ion-item class="radio-tag" lines="none" >
            <ion-label class="tag-label">
              <span>No</span>
            </ion-label>
            <ion-radio value="2"></ion-radio>
          </ion-item>
          <ion-item class="radio-tag" lines="none">
            <ion-label class="tag-label">
                <span>Yes</span>
              </ion-label>
            <ion-radio value="3" ></ion-radio>
          </ion-item>
          <ion-item class="radio-tag" lines="none">
            <ion-label class="tag-label">
              <span>Definitely</span>
            </ion-label>
            <ion-radio value="4"></ion-radio>
          </ion-item>
        </ion-row>
      </ion-radio-group>
    </form>

    <form [formGroup]="radioTagsForm" *ngIf="question.type == 'input'" >
      <ion-item class="input-item">
        <ion-label position="floating">{{question.question}}</ion-label>
        <ion-input [(ngModel)]="responses[question.id]" type="text" formControlName="selected_option" clearInput required></ion-input>
       </ion-item>
    </form>


  </ng-container>
  </ion-item-group>
</ion-content>
<ion-footer>
  <ion-button class="button-submit" type="submit" expand="block" (click)="submitSurvey()" >Submit</ion-button>
</ion-footer>
