<ion-header>
  <ion-toolbar>
    <ion-title>feedback</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content padding="false" scroll="false" class="has-header">
    <form id="feedbackCategory-form10" class="list">
      <div id="feedbackCategory-markdown8" class="show-list-numbers-and-dots">
        <p style="color:#424242;font-size:23px;" class="feedback-title">
          <strong>What would you like to ask for feedback on?</strong>
        </p>
      </div>
      <div class="spacer" style="width: 320px; height: 8px;"></div>
      <ion-list lines="none">
        <ion-item *ngFor="let item of categories">
          <ion-checkbox class="feedbackCategory-checkbox" [(ngModel)]="item.checked" [ngModelOptions]="{standalone: true}"></ion-checkbox>
          <ion-label>{{item.data().name}}</ion-label>
        </ion-item>
        <!-- <ion-item>
          <ion-checkbox class="feedbackCategory-checkbox" [(ngModel)]="this.isChecked" [ngModelOptions]="{standalone: true}"></ion-checkbox>
          <ion-label>{{ item.data().name }}</ion-label>
        </ion-item> -->
      </ion-list>
    </form>
    <a id="feedbackCategory-button17" class="button button-balanced button-block" (click)=nextFeedback();>Next</a>
  </ion-content>
