<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" icon="md-arrow-back" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Invited Team List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
          <ion-label>Oracle Team</ion-label>
          <ion-button color="success">Accept</ion-button>
          <ion-button color="danger">Decline</ion-button>
        </ion-item>
        <ion-item>
          <ion-label>Ionic Team</ion-label>
          <ion-button color="success">Accept</ion-button>
          <ion-button color="danger">Decline</ion-button>
          
        </ion-item>
        <ion-item>
          <ion-label>Onlie Market Team</ion-label>
          <ion-button color="success">Accept</ion-button>
          <ion-button color="danger">Decline</ion-button>
          
        </ion-item>
      </ion-list>
</ion-content>
