<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons  slot="start">
      <ion-back-button *ngIf= "isBack == 'true'" mode="ios" icon="md-arrow-back" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Invited Team List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item lines="none" *ngFor="let inviteEmail of inviteEmails">
            <ion-label>{{ inviteEmail.teamName }}</ion-label>
            <ion-button color="success" (click)="onAcceptInvite(inviteEmail.id,inviteEmail.teamName)">Accept</ion-button>
            <ion-button color="danger" (click)="onDeclineInvite(inviteEmail.id)">Decline</ion-button>
        </ion-item>
      </ion-list>
</ion-content>
