<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Invite Team</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card padding>
    <div class="title">Get even more feedback by inviting all of your co-workers.</div>
    <ion-list class="list-members" lines="none" inset>
      <ion-row *ngFor="let member of aryMembers; let i = index" align-items-center>
        <ion-col size="10">
          <div class="component-container">
            <ion-input inputmode="email" placeholder="name@company.com" [(ngModel)]="member.email" autocapitalize="off"></ion-input>
          </div>
        </ion-col>
        <ion-col size="2">
          <ion-button class="button-remove" fill="clear" [hidden]="2 > aryMembers.length" (click)="onClickBtnRemoveMember(i)">
            <ion-icon name="close" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-list>
    <div text-center style="width: 100%">
      <ion-button fill="clear" color="success" (click)="onClickBtnAddMember()">
        + Add another
      </ion-button>
    </div>
  </ion-card>
  <ion-list lines="none" class="anonymous">
    <ion-item>
      <ion-checkbox [(ngModel)]="isAnonymously" color="success"></ion-checkbox>
      <ion-label>Send invitation anonymously</ion-label>
    </ion-item>
  </ion-list>
  <ion-button class="button-invite" expand="block" (click)="onClickBtnInvite()">
    Send invites
  </ion-button>

  <ion-button class="button-skip" expand="block" fill="clear" (click)="onClickBtnInvite()">
      Skip
    </ion-button>
</ion-content>
