<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Notifications
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="notifications-content">
    <ion-card *ngIf="!showNotifications">
        <ion-card-header>
            <ion-card-title > {{titleName}} </ion-card-title>
            <!-- <ion-card-subtitle>Ideas to improve your team will show up here</ion-card-subtitle> -->
        </ion-card-header>
        <ion-card-content class ='mainimage'>
                {{cardContent}}
                <img src={{imageName}} alt="Feedback Logo"/>
        </ion-card-content>
        <ion-button (click)="onClickBtnNext()">{{buttonMessage}}</ion-button>
</ion-card>
    <ion-card *ngIf="showNotifications">
        <ion-card-header>
            <ion-card-title > Let's get started! </ion-card-title>
            <!-- <ion-card-subtitle>Ideas to improve your team will show up here</ion-card-subtitle> -->
        </ion-card-header>
        <!-- <ion-card-content class ='mainimage'>
                {{cardContent}}
                <img src={{imageName}} alt="Feedback Logo"/>
        </ion-card-content> -->
        <!-- <ion-button (click)="onClickBtnNext()">{{buttonMessage}}</ion-button> -->
</ion-card>

<div *ngIf="showNotifications">
  <ng-container *ngIf="notifications">
    <ion-item-group>
      <ion-item class="notification-item" lines="none" *ngFor="let notification of notifications" (click)=teamSurvey(notification);>
        <ion-row  *ngIf="notification.data().type == 'feedback'" class="notification-item-wrapper">
          <ion-col size="2">
              <ion-icon name="leaf" class = "custom-icon"></ion-icon>
          </ion-col>
          <ion-col class="details-wrapper">
            <h2 class="details-name"><b>{{ notification.data().name }} </b>requested feedback on <b>{{ notification.data().category }}</b> </h2>
            <!-- <p class="details-description">{{ notification.data().owner_name }}</p> -->
          </ion-col>
        </ion-row>
        <ion-row  *ngIf="notification.data().type == 'pulse'" class="notification-item-wrapper">
          <ion-col size="2">
              <ion-icon name="thermometer" class = "custom-icon"></ion-icon>
          </ion-col>
          <ion-col class="details-wrapper">
            <h2 class="details-name"><b>{{ notification.data().displayName }}</b> pulse check</h2>
            <!-- <p class="details-description">{{ notification.data().owner_name }}</p> -->
          </ion-col>
        </ion-row>
        <ion-row  *ngIf="notification.data().type == 'instructional'" class="notification-item-wrapper">
          <ion-col size="2">
              <ion-icon name="bulb" class = "custom-icon"></ion-icon>
          </ion-col>
          <ion-col class="details-wrapper">
              <h2 class="details-name"><b>{{ notification.data().message }}</b></h2>
          </ion-col>
        </ion-row>
        <ion-row  *ngIf="notification.data().type == 'feedback-ask'" class="notification-item-wrapper">
            <ion-col size="2">
                <ion-icon name="leaf" class = "custom-icon"></ion-icon>
            </ion-col>
            <ion-col class="details-wrapper">
                <h2 class="details-name"><b>{{ notification.data().message }}</b></h2>
              <!-- <p class="details-description">{{ notification.data().owner_name }}</p> -->
            </ion-col>
          </ion-row>
      
        <ion-col  *ngIf="notification.data().type == 'feedback' || notification.data().type == 'feedback-ask' " class="radio-tags">
          <ion-item class="radio-tag" lines="none">
            <ion-label class="tag-label">
              <span> Feedback</span>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col  *ngIf="notification.data().type == 'instructional'" class="radio-tags">
          <ion-item class="radio-tag" lines="none">
            <ion-label class="tag-label">
              <span> Suggestion</span>
            </ion-label>
          </ion-item>
        </ion-col>

        <ion-col  *ngIf="notification.data().type == 'pulse'" class="radio-tags">
          <ion-item class="radio-tag" lines="none">
            <ion-label class="tag-label">
              <span> Pulse check</span>
            </ion-label>
          </ion-item>
        </ion-col>
                <!-- <ion-col  *ngIf="notification.data().type == 'pulse'" class="radio-tags">
          <ion-item class="radio-tag" lines="none">
            <ion-label class="tag-label">
              <span> Pulse check</span>
            </ion-label>
          </ion-item>
        </ion-col> -->
      </ion-item>

    </ion-item-group>
  </ng-container>
  </div>

  <ion-content *ngIf= "empty" text-center padding fullscreen="true">
      <img src="assets/images/ic_make_feedback.png" alt="Feedback Logo"/>
      <div class="title">No notifications yet</div>
      <div class="description">Request personal feedback on the feedback tab!</div>
      <ion-button (click)="onClickBtnNext()">Make request</ion-button>
  </ion-content>
</ion-content>

          <!-- <ion-col size="2" class="date-wrapper">
            <h3 class="notification-date">{{ notification.data().created }}</h3>
          </ion-col> -->