<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/categories/deals"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="user-friends-content">
  <ng-template #friendItem let-friend="friend">
    <ion-row class="user-details-section">
      <!-- <ion-col class="user-image-wrapper" size="2">
        <app-aspect-ratio [ratio]="{w:1, h:1}">
          <app-image-shell class="user-image add-spinner" [src]="friend.image" [alt]="'friend'"></app-image-shell>
        </app-aspect-ratio>
      </ion-col> -->
      <ion-col class="user-data-wrapper">
        <div class="user-info">
          <h3 class="user-name">
            <app-text-shell class="no-animation" [data]="friend.data().name"></app-text-shell>
          </h3>
          <h5 class="user-job">
            <app-text-shell class="no-animation" [data]="friend.data().text"></app-text-shell>
          </h5>
        </div>
      </ion-col>
      <ion-col class="user-actions-wrapper">
          <ion-icon name="arrow-round-up" (click)="increaseScore(friend)" ></ion-icon>
          <h6>{{friend.data().score}}</h6>
          <ion-icon name="arrow-round-down" (click)="decreaseScore(friend)"></ion-icon>
        <!-- <ion-button *ngIf="!friend.following" class="user-action" expand="block" size="small" color="primary">Vote</ion-button> -->
      </ion-col>
    </ion-row>
  </ng-template>

  <section>
    <ion-list class="friends-list">
      <ion-item class="friend-item" *ngFor="let friend of comments">
        <ng-container *ngTemplateOutlet="friendItem; context: { friend: friend }"></ng-container>
      </ion-item>
    </ion-list>
  </section>

  <!-- <ion-input placeholder="Make a suggestion" style="position: absolute; bottom: 0px; width: 100%" class="friends-searchbar" animated mode="ios" [(ngModel)]="searchQuery" (ionChange)="searchList()"></ion-input> -->
</ion-content>

<ion-footer>

    <ion-toolbar class="message-form">
      <ion-row>
          <ion-toolbar>
              <ion-segment (ionChange)="segmentChanged($event)">
                <ion-segment-button value="keep">
                  <ion-label>Keep</ion-label>
                </ion-segment-button>
                <ion-segment-button value="stop">
                    <ion-label>Stop</ion-label>
                  </ion-segment-button>
                  <ion-segment-button value="start">
                      <ion-label>Start</ion-label>
                    </ion-segment-button>
              </ion-segment>
            </ion-toolbar>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-textarea #chatMessage class="toolbar-content"  placeholder="Write a suggestion..." [(ngModel)]="this.message" (ionFocus)="scrollBottom()" (keyup.enter)="createComment();" (click)="scrollBottom()" autofocus></ion-textarea>
        </ion-col>
        <ion-col width-10>
          <ion-buttons end class="send-bt">
            <button ion-button clear class="bar-button" (click)="createComment();">
              <i class="chat-icon send-icon"></i>
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>    
    </ion-toolbar>
  </ion-footer>