<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" icon="md-arrow-back" text="" defaultHref="/app/ideas"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="ideaText">
      <!-- <ion-avatar slot="start">
          <img [src]="/assets/images/noavatar.png">
        </ion-avatar> -->
      <ion-label>
        {{ideaText}}
      </ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content class="messages">

  <ion-list *ngIf="currentUser">
    <ng-container *ngFor="let message of messages">
      <ion-item>
        <ion-label>
          <div *ngIf="message.userId == currentUser.uid">

            <div class="message-text right">
              {{message.text}}
              <div class="message-time">
                {{message.createdDateTime}}
              </div>
            </div>

          </div>
          <div *ngIf="message.userId != currentUser.uid">
            <ion-avatar>
              <img class="user-image" [src]="'../assets/images/noavatar.png'" />
            </ion-avatar>
            <div class="message-text left">
              {{message.text}}
              <div class="message-time">
                {{message.createdDateTime}}
              </div>
            </div>
          </div>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-textarea [(ngModel)]="newMessage.text" class="message-input" placeholder="Type a message here" rows="1"
      autocapitalize="off" #messageInput (keydown.enter)="sendMessage();false"></ion-textarea>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="sendMessage()">
        <ion-icon slot="icon-only" name="md-send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>