<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="app/feedback"></ion-back-button>
        </ion-buttons>
        <ion-title>Feedback</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-segment mode="md" color="success" [(ngModel)]="page">
        <ion-segment-button value="what" mode="md">
            <ion-label>What</ion-label>
        </ion-segment-button>
        <ion-segment-button value="who" mode="md">
            <ion-label>To who</ion-label>
        </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="page">
        <ion-card *ngSwitchCase="'what'" padding>
            <div class="title">What would you like to ask feedback on?</div>
            <div class="instruction">You may choose multiple options</div>
            <ion-list lines="none">
                <ion-item *ngFor="let category of categories">
                    <ion-checkbox mode="md" [(ngModel)]="category.checked" color="success"></ion-checkbox>
                    <ion-label>{{category.name}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-card>
        <ion-card *ngSwitchCase="'who'" padding>
            <div class="title">Who would you like to ask for feedback from?</div>
            <div class="instruction">You may choose multiple options</div>
            <ion-list lines="none">
                <ion-item *ngFor="let teammate of teammates">
                    <ion-checkbox mode="md" [(ngModel)]="teammate.checked" color="success"></ion-checkbox>
                    <ion-label>{{teammate.name}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-card>
    </div>
</ion-content>
<ion-footer>
    <ion-button class="button-submit" type="submit" expand="block" [disabled]="checkSubmitStatus()" (click)="submitFeedback()">Submit</ion-button>
</ion-footer>
