// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
ion-tab-button {
  --color: var(--ion-color-medium-shade);
  --color-selected: var(--ion-color-dark);
}
.tab-selected{
  color:#4fdba5 !important;
}
#notification-button {            
  position: relative;
  width: 42px;
  top:1px;
  right: 1px;
  overflow: visible!important;
}


#notifications-badge {
  // background-color: red;
    position: absolute;
    top: 2px;
    right: -3px;
    border-radius: 100%;
    width: 19px;
}