<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        <ion-title>Ideas</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="user-friends-content">

    <ion-card *ngIf="ideas.length == 0">
            <ion-card-header>
                <ion-card-title> No ideas yet!</ion-card-title>
                <!-- <ion-card-subtitle>Ideas to improve your team will show up here</ion-card-subtitle> -->
            </ion-card-header>
            <ion-card-content>
                    Your team's ideas will show up here. Get started by tapping the input box below.
                    <img src="assets/images/brainstorm.svg" alt="Feedback Logo"/>
            </ion-card-content>
            <ion-button class="nextButton" (click)="inputFocus()">Suggest an idea</ion-button>

    </ion-card>

    <ion-card *ngFor="let idea of ideas">
        <ion-row>
            <!-- <ion-col size="auto">
              <div class="action-mark" [ngStyle]="{'background-color': getCardActionColor(idea.type)}"></div>
          </ion-col> -->
            <ion-col>
                <ion-row>
                    <ion-col>
                        <div class="comment-content">
                            <ion-row align-items-center>
                                <ion-col size="auto">
                                    <div class="comment-name">Anonymous</div>
                                </ion-col>
                                <ion-col>
                                    <ion-badge class="comment-action"
                                        [ngStyle]="{'background-color': getCardActionColor(idea.type)}">
                                        {{idea.type}}
                                    </ion-badge>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <div class="comment-text">{{idea.text}}</div>
                            </ion-row>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-row>
                            <ion-button fill="clear" (click)="setPopover($event,idea)">
                                <ion-icon color="medium" slot="icon-only" name="flag"></ion-icon>
                            </ion-button>
                            <ion-button fill="chat" (click)="enterChatRoom(idea)">
                                <ion-icon color="medium" name="text"></ion-icon>
                                <div class="messagecount-text">{{idea.messageCount}}</div>
                            </ion-button>
                            
                        </ion-row>
                    </ion-col>
                </ion-row>

            </ion-col>
            <ion-col size="auto">
                <ion-row>
                    <ion-col>
                        <ion-button fill="clear" (click)="increaseScore(idea)">
                            <ion-icon slot="icon-only" name="arrow-up" mode="ios"></ion-icon>
                        </ion-button>
                        <div text-center class="comment-score">{{idea.score}}</div>
                        <ion-button fill="clear" [disabled]="0 == idea.score" (click)="decreaseScore(idea)">
                            <ion-icon slot="icon-only" name="arrow-down" mode="ios"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

    </ion-card>
</ion-content>

<ion-footer>
    <ion-toolbar class="message-form">
        <ion-col>
            <ion-textarea (ionFocus)="inputFocus()" placeholder="Suggest an anonymous idea" [(ngModel)]="message" readonly="true"
                ></ion-textarea>
        </ion-col>

    </ion-toolbar>
</ion-footer>
