ion-footer {
    background: rgb(201, 225, 241);

    .message-form {
      ion-segment {
        margin-top: 2%;
        background: rgb(201, 225, 241);
      }
    }
  }
  .rotate-90 {
    transform: rotate(90deg);
  }

  
div[scrollx=true] {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    &::-webkit-scrollbar {
       display: none;
    }
     .scroll-item {
       flex: 0 0 auto;
    }
  }
  //   div[scrolly=true] {
  //     overflow-y: auto;
  //   }
    #myFixZone {
        height: 75px;
        // min-height: 10em;
        // display: table-cell;
        // vertical-align: middle
        vertical-align: middle

  
    }
  
    .suggest-button-start {
      --background: white;
    //   --color: green;
      --border:grey;
      padding: 4px;
      position: relative;
      padding-top: 7px;
      // --box-shadow: 0 0 10px rgba(0,0,0,0.8);  
      --box-shadow: 0 0 7px rgba(66, 66, 66, 0.8);  
  }
  
  .suggest-button-stop {
    --background: white;
    // --color: red;
    --border:black;
    padding: 1px;
  
    // --box-shadow: 0 0 10px rgba(0,0,0,0.8);  
    --box-shadow: 0 0 5px rgba(66, 66, 66, 0.8);  
  }

  .startStop{
      width:100%;
  }

 .stop-start-chip{
     width: 100px;

 }

 .user-friends-content {
  ion-col {
    padding: 0;
  }

  .action-mark {
    width: 3px;
    height: 100%;
  }

  .comment-content {
    padding: 5%;
    
    .comment-name {
      color: #9aaabd;
      font-size: 1rem;
    }

    .comment-action {
      margin-left: 5%;
      --color: white;
      font-size: 0.7rem;
      padding: 2% 5%;
    }

    .comment-text {
      margin-top: 3%;
      color: #272a2c;
      margin-left:10px;
      font-size: 1.0  rem;
    }
    
  }
  .messagecount-text {
    color: #6b6c6c;
    margin-left:10px;
    font-weight: 500;
    font-size: 14px;
  }
}
  

ion-content {
  img {
    width: 95%;
    margin-top: 20%;
  }

  .title {
    margin-top: 10%;
    font-weight: 500;
    font-size: 1.3rem;
  }

  .description {
    margin: 10% 5%;
    font-size: 0.9rem;
    color: rgb(152, 169, 188);
  }

  ion-button {
    width: 85%;
    margin: 10% 10%;
    --background: rgb(79, 219, 165);
  }
}

  