<ion-header>
  <ion-toolbar color="primary">
      <!-- <ion-buttons slot="start">
        <ion-back-button mode="ios" icon="md-arrow-back" text=""></ion-back-button>
      </ion-buttons> -->
    <ion-title>Create Team</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card padding>
    <div class="title">What would you like to name your team?</div>
    <ion-list class="list-members" lines="none" inset>
      <ion-row align-items-center>
        <ion-col size="12">
          <div class="component-container">
            <ion-input placeholder="IBM Strategy Team" [(ngModel)]="createTeam"></ion-input>
          </div>
        </ion-col>
      </ion-row>
    
    </ion-list> 
    <ion-list-header>Team Options</ion-list-header>

    <ion-item>
      <ion-label>Industry</ion-label>
      <ion-select [(ngModel)]="industry" placeholder="Select One">
        <ion-select-option value="o">Office</ion-select-option>
        <ion-select-option value="r">Retail</ion-select-option>
        <ion-select-option value="b">Bar & Restaurant</ion-select-option>
        <ion-select-option value="T"> Other</ion-select-option>

      </ion-select>
    </ion-item>


    <ion-item>
        <ion-label>Position</ion-label>
        <ion-select [(ngModel)]="position" placeholder="Select One">
          <ion-select-option value="M">Manager</ion-select-option>
          <ion-select-option value="I">Individual Contributor</ion-select-option>
        </ion-select>
      </ion-item>

  </ion-card>
  <ion-button  class="button-invite" expand="block" (click)="onClickCreateTeam()">
      Create team
  </ion-button>
  <ion-button *ngIf= "isCancel == 'true'" class="button-skip" expand="block" fill="clear" (click)="skipInvites()">
    Cancel
  </ion-button>
</ion-content>
