<ion-header>
    <ion-toolbar color="primary">

        <ion-title>Ideas</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content class="user-friends-content">

  <ion-card *ngFor="let idea of ideas">
      <ion-row>
          <ion-col size="auto">
              <div class="action-mark" [ngStyle]="{'background-color': getCardActionColor(idea.type)}"></div>
          </ion-col>
          <ion-col>
              <div class="comment-content">
                  <ion-row align-items-center>
                      <ion-col size="auto">
                          <div class="comment-name">Anonymous</div>
                      </ion-col>
                      <ion-col >
                          <ion-badge  class="comment-action" [ngStyle]="{'background-color': getCardActionColor(idea.type)}">
                              {{idea.type}}
                          </ion-badge>
                      </ion-col>
                  </ion-row>
                  <ion-row>
                    <div class="comment-text">{{idea.text}}</div>

                  </ion-row>
    
              </div>
          </ion-col>
          <ion-col size="auto">
                    <ion-row>
                            <ion-button fill="clear" (click)="setPopover($event,idea)">
                                    <ion-icon slot="icon-only" name="more" mode="ios"></ion-icon>
                            </ion-button>
                      </ion-row>
            <ion-row>
                <ion-col>
              <ion-button fill="clear" (click)="increaseScore(idea)">
                  <ion-icon slot="icon-only" name="arrow-up" mode="ios"></ion-icon>
              </ion-button>
              <div text-center class="comment-score">{{idea.score}}</div>
              <ion-button fill="clear" [disabled]="0 == idea.score" (click)="decreaseScore(idea)">
                  <ion-icon slot="icon-only" name="arrow-down" mode="ios"></ion-icon>
              </ion-button>
            </ion-col>
            </ion-row>
          </ion-col>
      </ion-row>
  </ion-card>
</ion-content>

<!-- <ion-row >
    <div scrollX="true" id="myFixZone">
          <ion-button  [ngStyle]="{'color': getCommentActionColor()}" *ngFor="let suggestion of suggestions" class ="suggest-button-start" (click)="makeSuggestion(suggestion)">
            {{suggestion.text}}
          </ion-button>

</div>
</ion-row> -->
<ion-footer>
    <ion-toolbar class="message-form">
        <!-- <ion-row>
            <div id="startStop">
                <ion-chip color="primary" outline="true" class="stop-start-chip" (click)="improvementTypeChipSelected('keep')">
                    <ion-label >Keep</ion-label>
                </ion-chip>
                <ion-chip color="danger" outline="true" class ="stop-start-chip" (click)="improvementTypeChipSelected('stop')"> 
                    <ion-label>Stop</ion-label>
                </ion-chip>     
                <ion-chip color="success" outline="true" class ="stop-start-chip" (click)="improvementTypeChipSelected('start')" >
                    <ion-label>Start</ion-label>
                </ion-chip>
            </div>
          </ion-row>
        <ion-row> -->
  <ion-col>
    <ion-textarea (ionFocus)= "inputFocus()" placeholder="Suggest an anonymous idea" [(ngModel)]="message" (keyup.enter)="createIdea();"></ion-textarea>
  </ion-col>

<!-- </ion-row>     -->
</ion-toolbar>
</ion-footer>
