@import "../../../../theme/mixins/inputs/radio-tag";

ion-content {
  .title {
    margin-top: 5%;
    font-weight: 500;
    font-size: 1.3rem;
  }

  .instruction {
    margin-top: 3%;
    font-size: 0.8rem;
    color: rgb(152, 169, 188);
  }

  textArea{
    padding-left: 8px;
    padding-top: 15px;

  }

  ion-segment{
    padding-left: 8px;
    padding-top: 25px;
    padding-bottom: 25px;


  }
  ion-list {
    margin-top: 5%;

    ion-item {
      ion-checkbox {
        --checkmark-color: white;
        --border-color: var(--ion-color-success);
      }

      ion-label {
        margin-left: 3%;
      }
    }
  }
}

ion-footer {
  background-color: white;

  .button-submit {
    margin: 5%;
    width: 90%;
    --background: #4fdba5;
  }
}

.suggest-button-start {
  --background: white;
  --color:  black;
  padding: 4px;
  --box-shadow: 0 0 2px rgba(27, 168, 50, 0.8);  
  // --box-shadow: 0 0 7px rgba(66, 66, 66, 0.8);  
}

ion-label{
  padding: 4px;
}

div[scrollx=true] {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
     display: none;
  }
   .scroll-item {
     flex: 0 0 auto;
  }

}
//   div[scrolly=true] {
//     overflow-y: auto;
//   }


  #myFixZone {
      height: 65px;
  }
  .radio-tags {
    padding: 1% calc(var(--page-margin) - var(--page-tags-gutter));
    justify-content: space-between;
  
    @include radio-tag();
  
    // Add a deeper selector to override default colors
    .radio-tag {
      --radio-tag-color: rgb(79, 219, 165);
      // --radio-tag-background: var(--ion-color-lightest);
      // --radio-tag-active-color: var(--ion-color-lightest);
      --radio-tag-active-background: rgb(79, 219, 165);
  
      padding: 2 var(--page-tags-gutter);
      margin: var(--page-tags-gutter) 0;
    }
  }
  