<ion-header>

</ion-header>

<ion-content padding>
  <!-- {{val}} -->
  <p><b>What should the team keep doing?</b> </p><hr>
  <div class="question-divider"></div>
  

  <ion-textarea (ionFocus)= "inputFocus()" class="toolbar-content"  placeholder="Type your suggestion" [(ngModel)]="message" (keyup.enter)="createComment();"></ion-textarea>
  
  <ion-row >
      <div scrollX="true" id="myFixZone">
            <ion-button class ="suggest-button-start " (click)="makeSuggestion()"></ion-button>
            <ion-button class ="suggest-button-start" (click)="makeSuggestion()" >Listen to each other more</ion-button>
            <ion-button class ="suggest-button-start" (click)="makeSuggestion()" >Post 7pm break</ion-button>
            <ion-button class ="suggest-button-start" (click)="makeSuggestion()" >Post 7pm break</ion-button>
            <ion-button class ="suggest-button-start" (click)="makeSuggestion()" >Post 7pm break</ion-button>
      </div>

      <div scrollX="true" id="myFixZone">
          <ion-button class ="suggest-button-stop " (click)="makeSuggestion()">Team dinner</ion-button>
          <ion-button class ="suggest-button-stop" (click)="makeSuggestion()" >Listen to each other more</ion-button>
          <ion-button class ="suggest-button-stop" (click)="makeSuggestion()" >Post 7pm break</ion-button>
          <ion-button class ="suggest-button-stop" (click)="makeSuggestion()" >Post 7pm break</ion-button>
          <ion-button class ="suggest-button-stop" (click)="makeSuggestion()" >Post 7pm break</ion-button>
    </div>
  </ion-row>
  <ion-button (click)="dismiss()">Send</ion-button>
</ion-content>

<!-- <ion-footer class ="foo">
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Suggestions for you</ion-card-subtitle>
        </ion-card-header> -->
            <!-- <ion-row >
            <div scrollX="true" id="myFixZone">
                  <ion-button class ="suggest-button-start " (click)="makeSuggestion()">Team dinner</ion-button>
                  <ion-button class ="suggest-button-start" (click)="makeSuggestion()" >Listen to each other more</ion-button>
                  <ion-button class ="suggest-button-start" (click)="makeSuggestion()" >Post 7pm break</ion-button>
                  <ion-button class ="suggest-button-start" (click)="makeSuggestion()" >Post 7pm break</ion-button>
                  <ion-button class ="suggest-button-start" (click)="makeSuggestion()" >Post 7pm break</ion-button>
            </div>

            <div scrollX="true" id="myFixZone">
                <ion-button class ="suggest-button-sstoptart " (click)="makeSuggestion()">Team dinner</ion-button>
                <ion-button class ="suggest-button-stop" (click)="makeSuggestion()" >Listen to each other more</ion-button>
                <ion-button class ="suggest-button-stop" (click)="makeSuggestion()" >Post 7pm break</ion-button>
                <ion-button class ="suggest-button-stop" (click)="makeSuggestion()" >Post 7pm break</ion-button>
                <ion-button class ="suggest-button-stop" (click)="makeSuggestion()" >Post 7pm break</ion-button>
          </div>
        </ion-row> -->
          <!-- </ion-radio-group> -->
        <!-- <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content> -->
      <!-- </ion-card> -->
<!-- </ion-footer> --> -->
