@import "../../theme/mixins/inputs/radio-tag";

.question-divider {
    margin: 2% 0;
    width: 100%;
    height: 2px;
    background-color: rgb(232, 236, 239);
  }
  .suggest-button-start {
    --background: white;
    --color:  black;
    padding: 4px;
    --box-shadow: 0 0 2px rgba(27, 168, 50, 0.8);  
    // --box-shadow: 0 0 7px rgba(66, 66, 66, 0.8);  
}
.suggest-button-stop {
    --background: white;
    --color: black;
    padding: 4px;

    // --box-shadow: 0 0 10px rgba(0,0,0,0.8);  
    --box-shadow: 0 0 2px rgba(218, 50, 50, 0.8);  
}

.left-move{
  float:left;
}
.right-move{
  float:right!important;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

// div[scrollx=true], div[scrolly=true] {
//     position: relative;
//     overflow: hidden;
  
//     ::-webkit-scrollbar {
//       display: none;
//     }
//   }
  
//   div[scrollx=true] {
//     overflow-x: auto;
//   }
  
.radio-tags {
  padding: 1% calc(var(--page-margin) - var(--page-tags-gutter));
  justify-content: space-between;

  @include radio-tag();

  // Add a deeper selector to override default colors
  .radio-tag {
  
    --radio-tag-color: rgb(79, 219, 165);
    --radio-tag-background: var(--ion-color-lightest);
    --radio-tag-active-color: var(--ion-color-lightest);
    --radio-tag-active-background: rgb(79, 219, 165);

    padding: 0 var(--page-tags-gutter);
    margin: var(--page-tags-gutter) 0;
  }
}

  div[scrollx=true] {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
       display: none;
    }
     .scroll-item {
       flex: 0 0 auto;
    }

  }
//   div[scrolly=true] {
//     overflow-y: auto;
//   }
    #myFixZone {
        height: 65px;
    }
  .foo{
    height: 175px !important;
    }

  .radio-tags {
    padding: 5% calc(var(--page-margin) - var(--page-tags-gutter));
    justify-content: space-between;

    @include radio-tag();

    // Add a deeper selector to override default colors
    .radio-tag {
      --radio-tag-color: rgb(83, 83, 83);
      --radio-tag-background:  rgb(240, 240, 240);
      --radio-tag-active-color: var(--ion-color-lightest);
      --border-color: rgb(255, 255, 255);
      padding: 0 var(--page-tags-gutter);
      margin: var(--page-tags-gutter) 0;
    }
  }

  ion-card{
    display: flex;
    flex-direction: column;
    margin: 0 !important;   
  }
ion-content ion-card{
width: 100%;
}

.user_name {
  color: #afafaf;
}
.message {
  padding: 10px !important;
  transition: all 250ms ease-in-out !important;
  border-radius: 10px !important;
  margin-bottom: 4px !important;
}
.mymessage {
  background: rgb(240, 240, 240);
  color: #000 !important;
  border-top-right-radius: 0px !important;
}
.othermessage {
  background: #dcdcdc !important;
  color: #000 !important;
  border-top-left-radius: 0px !important;
}
.time {
  color: #afafaf;
  float: right;
  font-size: small;
}
.message_row {
  background-color: #fff;
}

.innermsg.left {
  float: left;
  background-color: #F1F0F0;
  color: black;
  clear: both;
}

.innermsg.right {
  float: right;
  //margin-right: 10%;
  background-color: #0084FF;
  color: white;
  clear: both;
}

.speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
}

.speech-bubble:after {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -12.5px;
	margin-bottom: -25px;
}

/* General CSS Setup */
body{
  background-color: lightblue;
  font-family: "Ubuntu-Italic", "Lucida Sans", helvetica, sans;
}

/* container */
.container {
  padding: 5% 5%;
}

/* CSS talk bubble */
.talk-bubble {
	margin: 5px;
  display: inline-block;
	position: relative;
	padding: 10px;
	padding-bottom: 2px;
	padding-top: 2px;
	// width: 250px;
	height: auto;
	background-color: rgb(255, 255, 255);
}
.border{
  border: 1px solid  rgb(220, 220, 220);
}
.round{
  border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius:25px;

}

// /* Right triangle placed top left flush. */
// .tri-right.border.left-top:before {
// 	content: ' ';
// 	position: absolute;
// 	width: 0;
// 	height: 0;
//   left: -40px;
// 	right: auto;
//   top: -8px;
// 	bottom: auto;
// 	border: 32px solid;
// 	border-color: #666 transparent transparent transparent;
// }
// .tri-right.left-top:after{
// 	content: ' ';
// 	position: absolute;
// 	width: 0;
// 	height: 0;
//   left: -20px;
// 	right: auto;
//   top: 0px;
// 	bottom: auto;
// 	border: 22px solid;
// 	border-color: lightyellow transparent transparent transparent;
// }

// /* Right triangle, left side slightly down */
// .tri-right.border.left-in:before {
// 	content: ' ';
// 	position: absolute;
// 	width: 0;
// 	height: 0;
//   left: -40px;
// 	right: auto;
//   top: 30px;
// 	bottom: auto;
// 	border: 20px solid;
// 	border-color: #666 #666 transparent transparent;
// }
// .tri-right.left-in:after{
// 	content: ' ';
// 	position: absolute;
// 	width: 0;
// 	height: 0;
//   left: -20px;
// 	right: auto;
//   top: 38px;
// 	bottom: auto;
// 	border: 12px solid;
// 	border-color: lightyellow lightyellow transparent transparent;
// }

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent rgb(240, 240, 240);
}
.tri-right.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -10px;
	border: 18px solid;
	border-color: transparent transparent transparent rgb(240, 240, 240);
}

/*Right triangle, placed bottom left side slightly in*/
// .tri-right.border.btm-left-in:before {
// 	content: ' ';
// 	position: absolute;
// 	width: 0;
// 	height: 0;
// 	left: 30px;
//   right: auto;
//   top: auto;
// 	bottom: -40px;
// 	border: 20px solid;
// 	border-color: #666 transparent transparent #666;
// }
// .tri-right.btm-left-in:after{
// 	content: ' ';
// 	position: absolute;
// 	width: 0;
// 	height: 0;
// 	left: 38px;
//   right: auto;
//   top: auto;
// 	bottom: -20px;
// 	border: 12px solid;
// 	border-color: lightyellow transparent transparent lightyellow;
// }

/*Right triangle, placed bottom right side slightly in*/
// .tri-right.border.btm-right-in:before {
// 	content: ' ';
// 	position: absolute;
// 	width: 0;
// 	height: 0;
//   left: auto;
// 	right: 30px;
// 	bottom: -40px;	
// 	border: 20px solid;
// 	border-color: #666 #666 transparent transparent;
// }
// .tri-right.btm-right-in:after{
// 	content: ' ';
// 	position: absolute;
// 	width: 0;
// 	height: 0;
//   left: auto;
// 	right: 38px;
// 	bottom: -20px;
// 	border: 12px solid;
// 	border-color: lightyellow lightyellow transparent transparent;
// }
/*
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;

/*Right triangle, placed bottom right side slightly in*/
// .tri-right.border.btm-right:before {
// 	content: ' ';
// 	position: absolute;
// 	width: 0;
// 	height: 0;
//   left: auto;
// 	right: -8px;
// 	bottom: -40px;
// 	border: 20px solid;
// 	border-color: #666 #666 transparent transparent;
// }
// .tri-right.btm-right:after{
// 	content: ' ';
// 	position: absolute;
// 	width: 0;
// 	height: 0;
//   left: auto;
// 	right: 0px;
// 	bottom: -20px;
// 	border: 12px solid;
// 	border-color: lightyellow lightyellow transparent transparent;
// }

// /* Right triangle, right side slightly down*/
// .tri-right.border.right-in:before {
// 	content: ' ';
// 	position: absolute;
// 	width: 0;
// 	height: 0;
//   left: auto;
// 	right: -40px;
//   top: 30px;
// 	bottom: auto;
// 	border: 20px solid;
// 	border-color: #666 transparent transparent #666;
// }
// .tri-right.right-in:after{
// 	content: ' ';
// 	position: absolute;
// 	width: 0;
// 	height: 0;
//   left: auto;
// 	right: -20px;
//   top: 38px;
// 	bottom: auto;
// 	border: 12px solid;
// 	border-color: lightyellow transparent transparent lightyellow;
// }

// /* Right triangle placed top right flush. */
// .tri-right.border.right-top:before {
// 	content: ' ';
// 	position: absolute;
// 	width: 0;
// 	height: 0;
//   left: auto;
// 	right: -40px;
//   top: -8px;
// 	bottom: auto;
// 	border: 32px solid;
// 	border-color: #666 transparent transparent transparent;
// }
// .tri-right.right-top:after{
// 	content: ' ';
// 	position: absolute;
// 	width: 0;
// 	height: 0;
//   left: auto;
// 	right: -20px;
//   top: 0px;
// 	bottom: auto;
// 	border: 20px solid;
// 	border-color: lightyellow transparent transparent transparent;
// }

/* talk bubble contents */
// .talktext{
//   padding: 1em;
// 	text-align: left;
//   line-height: 1.5em;
// }
// .talktext p{
//   /* remove webkit p margins */
//   -webkit-margin-before: 0em;
//   -webkit-margin-after: 0em;
// }


// spinner 

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}