<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Ideas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- {{val}} -->
  <!-- <p><b>What should the team keep doing?</b> </p><hr> -->
  <ion-row>
    <div style="clear: both;">    
      <ion-chip class="alignleft" item-start color="dark" (click)="dismiss()">
        <ion-label>cancel</ion-label>
      </ion-chip>
      <ion-chip   class="alignright" color="success" (click)="createIdea('start')">
        <ion-label>Send</ion-label>
      </ion-chip>

    </div>

  </ion-row>
  <ion-row>

  </ion-row>

<ion-row>
    <ion-textarea #inputToFocus rows="10" cols="20" autofocus="true" (ionFocus)= "inputFocus()" class="toolbar-content"  placeholder="Type your suggestion" [(ngModel)]="message" (keyup.enter)="createComment();"></ion-textarea>
</ion-row>
  
  <div class="question-divider"></div>

  <ion-list>
      <ion-list-header>
        <ion-label>Popular ideas to start</ion-label>
      </ion-list-header>
        <ion-row>
          <div scrollX="true" id="myFixZone">
              <ion-button  class ="suggest-button-start" [ngStyle]="{'color': getCommentActionColor()}" *ngFor="let suggestion of startSuggestions" class ="suggest-button-start" (click)="makeSuggestion(suggestion)">
                  {{suggestion.text}}
              </ion-button>
          </div>
        </ion-row>  
        <ion-list-header>
            <ion-label>Ideas to stop</ion-label>
          </ion-list-header>
          <ion-row>
              <div scrollX="true" id="myFixZone">
                  <ion-button  class ="suggest-button-stop" [ngStyle]="{'color': getCommentActionColor()}" *ngFor="let suggestion of stopSuggestions" class ="suggest-button-start" (click)="makeSuggestion(suggestion)">
                      {{suggestion.text}}
                  </ion-button>
              </div>
            </ion-row> 
    </ion-list>
</ion-content>

<