// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-narrow-margin);

  --page-border-radius: var(--app-fair-radius);
  --page-segment-background: var(--app-background);
  --page-segment-indicator-height: 2px;
}

h3 {
  text-align: center;
}
// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.user-friends-segment {
  position: sticky;
  top: 0;
  z-index: 8;
  background-color: var(--page-segment-background);

  ion-segment-button {
    --padding-end: var(--page-margin);
    --padding-start: var(--page-margin);
    --background: var(--page-segment-background);
    --color: rgba(var(--ion-color-dark-rgb), 0.4);
    --color-checked: var(--ion-color-dark);
    --indicator-color-checked: var(--ion-color-dark);

    text-transform: capitalize;
    min-height: calc((var(--page-margin) * 3) - var(--page-segment-indicator-height));

    ion-label {
      margin-top: calc(var(--page-margin) / 2);
      margin-bottom: calc(var(--page-margin) / 4);
    }
  }
}

.user-friends-content {
  ion-col {
    padding: 0;
  }

  .action-mark {
    width: 5px;
    height: 100%;
  }
  h3 {
    text-align: center;
  }

  .comment-content {
    padding: 5%;
    
    .comment-name {
      color: #9aaabd;
      font-size: 1rem;
    }

    .comment-action {
      margin-left: 5%;
      --color: white;
      font-size: 0.7rem;
      padding: 2% 5%;
    }

    .comment-text {
      margin-top: 3%;
      color: #272a2c;
      font-size: 1.2rem;
    }
  }
}

ion-footer {
  background: #EBF1F5;

  .message-form {
    ion-segment {
      margin-top: 2%;
    }
  }
}

div[scrollx=true] {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  &::-webkit-scrollbar {
     display: none;
  }
   .scroll-item {
     flex: 0 0 auto;
  }
}
//   div[scrolly=true] {
//     overflow-y: auto;
//   }
  #myFixZone {
      height: 65px;

  }

  .suggest-button-start {
    --background: white;
    --color: green;
    --border:grey;
    padding: 4px;
    // --box-shadow: 0 0 10px rgba(0,0,0,0.8);  
    --box-shadow: 0 0 7px rgba(66, 66, 66, 0.8);  
}

.suggest-button-stop {
  --background: white;
  --color: red;
  --border:black;
  padding: 4px;

  // --box-shadow: 0 0 10px rgba(0,0,0,0.8);  
  --box-shadow: 0 0 7px rgba(66, 66, 66, 0.8);  
}
